  <div class="home-content">
    <div class="text">
      <p id="udv">Üdvözlöm Weiland Dániel vagyok! </p> <br>
      <p class="szoveg">Több éves itthoni és külföldi tapasztalattal vállalom az alábbi Építőipari munkálatokat:</p>
      <br>
      <ul class="dolgok">
        <li>Gipszkarton Szerelés</li>
        <li>Festés /Glettelés /Tapétázás</li>
        <li>Meleg burkolat(parketta)</li>
        <li>Homlokzati Hőszigetelés</li>
        <li>Beltéri ajtók Beépítése</li>
      </ul><br>
      <p class="szoveg">A munkálatok helyszíni felmérés alapján történnek! <br>
        Az árak az adott munka függvényeben megegyezés szerint! Ha felkeltettem az érdeklődését keressen bizalommal!
      </p>
    </div>
    <div class="image">
      <img src="assets/kezdokep.png" alt="Weiland borító kép">
    </div>
  </div>